{% include 'frontend/site-base.html' %}

{% block body %}
  <body>
    {% include 'frontend/_header.html' %}
    <!--header ends-->
    
  <div class="container">
  <div class="row">
      {% include 'frontend/_cover-profile.html' %}
  </div>
  <div class="row xtra-pad">
  <!--left column-->
  	 <div class="mp-left-col">
       <!--user details-->
     	   <!--side menu-->
       	<div class="side-menu-wrapper" style="background:none !important;">
          <div class="list-group">
              <a href="all_friends.php" class="list-group-item active"><span class="list-group-icons"><img src="/static/images/icons/blogs.png" width="18"></span>All Friends</a>
              <a href="#" class="list-group-item disabled"><span class="list-group-icons"><img src="/static/images/icons/profile.png" width="18"></span>Recently Added</a>
              <a href="#" class="list-group-item disabled"><span class="list-group-icons"><img src="/static/images/icons/photo.png" width="18"></span>Friends of Friends</a>
              <a href="#" class="list-group-item disabled"><span class="list-group-icons"><img src="/static/images/icons/photo.png" width="18"></span>Suggested Friends</a>
          </div>
        </div> 
       	<div class="advert-wrapper">
          	<div class="ad-section-header">
              	<div class="sponsored-title">sponsored</div>
                  <div class="create-ad-link">Create Ad</div>
              	<div class="clear"></div>
            </div>
              <!--ad card begins-->
            <div class="ad-card">
            	<div class="ad-image"><img src="/static/images/uploads/rado.png" width="100%" ></div>
                <div class="ad-title">Timeless pieces from $120!</div>
                <div class="ad-link">www.buyright.co.za</div>
                <div class="ad-description">Loafers are arguable the best quality footwear that makes your feet stand out! Shop our wi...</div>
            </div>
              <!--ad card ends-->
        </div> 
      </div>   
       <!--blogs-->
    
    <!--left column ends-->
    <!--right column starts-->
    <div class="mp-right-col">
      <div class="mp-view-header">
          <div style="padding:0px 0px;">
          	<span style="font-size:22px; font-weight:700;"><span><img style="margin-right:7px;" src="/static/images/icons/friends.png" width="30"></span>Friends</span>
              <div style="padding:10px 0 0 0;">
              	<a href="#"><span><img style="margin-right:4px;" src="/static/images/icons/location.png" width="14"></span>Find Friends</a> · <a href="#"><span><img style="margin-right:4px;" src="/static/images/icons/notif.png" width="14"></span>Friend Request</a>
              </div>
          </div>
      </div>
      <!--mp-view-header ends-->
      <!-- MIDDLE PART OF TEH UI -->
      {% comment %}
        {{ friend_list }}
      {% endcomment %}

      <div style="padding:15px;">
        {% for friend in friend_list %}
      <div class="row">
         <div class="col-xs-4 col-sm-3 col-md-2 mp-less-pad-xs">
          <a href="userprofile_pub.php">
            <div class="thumbnail">
            	<div class="caption">
                       <h4 style="padding:5px 0; font-weight:700;">{{ friend.firstname }} {{ friend.lastname }} </h4>
                       <!--interactin bar-->
                  <div class="thumbnail-socials">
                          <span style="display:block; margin-right:10px;"> Unfriend</span>
                  </div>
                  </div>
                {% if friend.imageurl %}
                    <img src=" {{ friend.imageurl }}">
                {% else %}
                    <img src="/static/images/people/guy-1.jpg">
                {% endif %}
            </div>
            </a>
         </div>
         
         <!-- A friend -->
         

      </div>
      {% endfor %}
    </div>

  <!--right column ends-->
  <div class="clear"></div>
  </div>
  <div class="footer"></div>
  </div>
</body>
  {% endblock %}
