{% extends 'frontend/base.html' %}

{% block body %}
    <body>
    {% include 'frontend/_header.html' %}
    <!--container ends-->
    </div>
    <div class="container">
        <div class="row">
            {% include 'frontend/_cover-profile.html' %}
        </div>
        <div class="row xtra-pad">

            {% ifequal profile_info 'error' %}

            {% else %}
                <!--left column-->
                <!--announcement bar
                <div class="col-sm-cards">
                            <div class="col-sm-cards-header">
                            <div class="col-sm-padding">
                                <div class="col-sm-cards-about-title"><span class="span-about"><img src="/static/images/icons/profile.png" width="18" height="18"></span>About</div>
                                <div class="col-sm-label">X</div>
                                <div class="clear"></div>
                             </div>
                        </div>
                        <div class="col-sm-cards-body">here</div>
                 </div>
                <!--about user ends-->
                <div class="col-lg-3 col-md-3 col-sm-3 left-col">
                    <!--about user starts-->
                    <div class="col-sm-cards">
                        <div class="col-sm-cards-header">
                            <div class="col-sm-padding">
                                <div class="col-sm-cards-about-title"><span class="span-about"><img
                                        src="/static/images/icons/profile.png" width="18" height="18"></span>About
                                </div>
                                <div class="col-sm-label">Edit</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-cards-body">
                            <div class="list-group" style="margin-bottom:5px;">
                                <a href="#" class="list-group-item active"
                                   style="padding:3px 35px; background-image:url(/static/images/icons/location.png); background-repeat:no-repeat; background-position: 3% 50%;">
                <span class="list-group-item-heading"
                      style="padding-bottom:3px; margin-bottom:3px; font-weight:700; line-height:normal; font-size:12px;">

									South Africa

								</span>

                                    <p class="list-group-item-text"
                                       style="color:#666; font-weight:normal; line-height:normal; font-size:12px;">Lives
                                        in Randburg</p>
                                </a>
                            </div>
                            <div class="list-group" style="margin-bottom:5px;">
                                <a href="#" class="list-group-item"
                                   style="padding:3px 35px; background-image:url(/static/images/icons/friends.png); background-repeat:no-repeat; background-position: 3% 50%;">
                                    <span class="list-group-item-heading"
                                          style="padding-bottom:3px; margin-bottom:3px; font-weight:700; line-height:normal; font-size:12px;">Gender</span>

                                    <p class="list-group-item-text"
                                       style="color:#666; font-weight:normal; line-height:normal; font-size:12px;">
                                        {% if profile_info.gender %}
                                            {{ profile_info.gender }}
                                        {% else %}
                                            None
                                        {% endif %}

                                    </p>
                                </a>
                            </div>
                            <div class="list-group" style="margin-bottom:5px;">
                                <a href="#" class="list-group-item"
                                   style="padding:3px 35px; background-image:url(/static/images/icons/like.png); background-repeat:no-repeat; background-position: 3% 50%;">
                                    <span class="list-group-item-heading"
                                          style="padding-bottom:3px; margin-bottom:3px; font-weight:700; line-height:normal; font-size:12px;">Relationship Status</span>

                                    <p class="list-group-item-text"
                                       style="color:#666; font-weight:normal; line-height:normal; font-size:12px;">
                                        Married</p>
                                </a>
                            </div>
                            <div class="list-group" style="margin-bottom:5px;">
                                <a href="#" class="list-group-item"
                                   style="padding:3px 35px; background-image:url(/static/images/icons/tag.png); background-repeat:no-repeat; background-position: 3% 50%;">
                                    <span class="list-group-item-heading"
                                          style="padding-bottom:3px; margin-bottom:3px; font-weight:700; line-height:normal; font-size:12px;">Interest</span>

                                    <p class="list-group-item-text"
                                       style="color:#666; font-weight:normal; line-height:normal; font-size:12px;">
                                        Movies - Sports - Travel</p>
                                </a>
                            </div>
                            <!--content body ends-->
                        </div>
                    </div>
                    <!--about user ends-->
                    <!--user details-->
                    <div class="col-sm-cards" id="myAlert">
                        <div class="col-sm-cards-header">
                            <div class="col-sm-padding">
                                <div class="col-sm-cards-about-title"><span class="span-about"><img
                                        src="/static/images/icons/profile.png" width="18" height="18"></span>Friends
                                </div>
                                <div class="col-sm-label">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-cards-body">
                            <!--friend1 starts-->
                            <div class="friends-wrapper">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-1.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-2.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-4.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/woman-3.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-1.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-4.jpg">
                                        </div>
                                    </div>
                                    <div style="padding:10px 0 0 0;">
                                        <a href="#"><span><img style="margin-right:4px;"
                                                               src="/static/images/icons/friends.png" width="12"></span>View
                                            More</a>
                                    </div>
                                </div>
                            </div>
                            <!--friend1 ends-->
                        </div>
                    </div>
                    <!--Photos starts-->
                    <div class="col-sm-cards" id="myAlert">
                        <div class="col-sm-cards-header">
                            <div class="col-sm-padding">
                                <div class="col-sm-cards-about-title"><span class="span-about"><img
                                        src="/static/images/icons/photo.png" width="18" height="18"></span>Photos
                                </div>
                                <div class="col-sm-label">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-cards-body">
                            <!--friend1 starts-->
                            <div class="friends-wrapper" style="border-bottom:0px; padding-bottom:0px;">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-1.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-2.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-4.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/woman-3.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/guy-4.jpg">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mp-less-pad-xs">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h4 style="padding:10px 0; font-weight:700;">Abayomi Peter</h4>
                                                <a href="" class="add-photo-button">View</a>
                                            </div>
                                            <img src="/static/images/people/woman-3.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--photos ends-->
                        </div>
                    </div>
                </div>
                <!--left column ends-->
                <!--middle column starts-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-col">
                    <!--status update card-->
                    {% include 'frontend/_content-input-pane.html' %}
                    <!--status update card ends-->

                    <!-- activity starts here -->

                    {% for activity in activities.list %}
                        {% ifequal activity.object.type 'statusupdate' %}
                            {% include 'frontend/activity-items/statusupdate.html' %}
                        {% endifequal %}

                        {% ifequal activity.object.type 'audio' %}
                            {% include 'frontend/activity-items/audio.html' %}
                        {% endifequal %}

                        {% ifequal activity.object.type 'blogpost' %}
                            {% include 'frontend/activity-items/blogpost.html' %}
                        {% endifequal %}

                        {% ifequal activity.object.type 'photo' %}
                            <p>photo</p>
                        {% endifequal %}

                        {% ifequal activity.object.type 'photoalbum' %}
                            <p>photo album</p>
                        {% endifequal %}

                    {% endfor %}
                    <!-- activity ends here -->


                    <?php require("includes/blog_post.htm"); ?>
                </div>
                <!--middle column ends-->
                <!--right column starts-->
                <div class="col-lg-3 col-md-3 col-sm-3 right-col">
                    <!--suggested friends-->
                    <div class="col-sm-cards" id="myAlert">
                        <div class="col-sm-cards-header">
                            <div class="col-sm-padding">
                                <div class="col-sm-cards-about-title"><span class="span-about"><img
                                        src="/static/images/icons/blogs.png" width="18" height="18"></span>Blogs
                                </div>
                                <div class="col-sm-label">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-cards-body" style="padding-top:7px;">
                            <!--friend1 starts-->
                            <div class="friends-wrapper" style="border-bottom:0px; padding-bottom:0;">
                                <div class="row">
                                    <!--blog post card1-->
                                    <a href="blog_full_view.php">
                                        <div class="blog-card">
                                            <div class="comment-card">
                                                <div class="comment-owner-pix-xs"><img src="/static/images/pix.jpg"
                                                                                       width="100%"></div>
                                                <div class="comment-details-xs">
                                                    <div class="comment-owner-name-xs">This is my blog title: what a
                                                        day!!!
                                                    </div>
                                                    <div class="comment-text" style="font-size:12px;">She has struggled
                                                        relent...
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="comment-socials"><span><img
                                                    src="/static/images/icons/delete.png" width="12"></span></div>
                                            <div class="clear"></div>
                                        </div>
                                    </a>
                                    <!--blog post card1 ends-->
                                    <!--blog post card2-->
                                    <a href="blog_full_view.php">
                                        <div class="blog-card">
                                            <div class="comment-card">
                                                <div class="comment-owner-pix-xs"><img src="/static/images/pix.jpg"
                                                                                       width="100%"></div>
                                                <div class="comment-details-xs">
                                                    <div class="comment-owner-name-xs">This is my blog title: what a
                                                        day!!!
                                                    </div>
                                                    <div class="comment-text" style="font-size:12px;">She has struggled
                                                        relent...
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="comment-socials"><span><img
                                                    src="/static/images/icons/delete.png" width="12"></span></div>
                                            <div class="clear"></div>
                                        </div>
                                    </a>
                                    <!--blog post card2 ends-->
                                    <!--blog post card3-->
                                    <a href="blog_full_view.php">
                                        <div class="blog-card">
                                            <div class="comment-card">
                                                <div class="comment-owner-pix-xs"><img src="/static/images/pix.jpg"
                                                                                       width="100%"></div>
                                                <div class="comment-details-xs">
                                                    <div class="comment-owner-name-xs">This is my blog title: what a
                                                        day!!!
                                                    </div>
                                                    <div class="comment-text" style="font-size:12px;">She has struggled
                                                        relent...
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="comment-socials"><span><img
                                                    src="/static/images/icons/delete.png" width="12"></span></div>
                                            <div class="clear"></div>
                                        </div>
                                    </a>
                                    <!--blog post card3 ends-->
                                </div>
                            </div>
                            <!--friend1 ends-->
                        </div>
                    </div>
                    <div class="advert-wrapper">
                        <div class="ad-section-header">
                            <div class="sponsored-title">sponsored</div>
                            <div class="create-ad-link">Create Ad</div>
                            <div class="clear"></div>
                        </div>
                        <!--ad card begins-->
                        <div class="ad-card">
                            <div class="ad-image"><img src="/static/images/uploads/rado.png" width="100%"></div>
                            <div class="ad-title">Timeless pieces from $120!</div>
                            <div class="ad-link">www.buyright.co.za</div>
                            <div class="ad-description">Loafers are arguable the best quality footwear that makes your
                                feet stand out! Shop our wi...
                            </div>
                        </div>
                        <!--ad card begins-->
                        <div class="ad-card">
                            <div class="ad-image"><img src="/static/images/uploads/rado.png" width="100%"></div>
                            <div class="ad-title">Timeless pieces from $120!</div>
                            <div class="ad-link">www.buyright.co.za</div>
                            <div class="ad-description">Loafers are arguable the best quality footwear that makes your
                                feet stand out! Shop our wi...
                            </div>
                        </div>
                        <!--ad card ends-->
                    </div>
                </div>
                <!--right column ends-->
                <div class="clear"></div>
                </div>
                <div class="footer"></div>
                </div>

                </body>

            {% endifequal %}

{% endblock %}
