{% extends 'frontend/base.html' %}

{% block middle-content %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-col">
        <!--status update card-->

        {% include 'frontend/_content-input-pane.html' %}
        {% for activity in activities.list %}
            <p>{{ activity.object }}</p>


        {% endfor %}

        <!--activity card001 starts-->
        {% include 'frontend/activity-items/statusupdate.html' %}
        <!--activity card00 ends-->
        <!--activity card0 starts-->
        {% include 'frontend/activity-items/video.html' %}
        <!--activity card0 ends-->
        <!--activity card1 starts-->
        {% include 'frontend/activity-items/audio.html' %}

    </div>
{% endblock %}
