
{% extends 'frontend/base.html' %}

{% block middle-content %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-col">
        <!--status update card-->

        {% include 'frontend/_content-input-pane.html' %}
        {% for activity in activities.list %}
            {% ifequal activity.object.type 'statusupdate' %}
                {% include 'frontend/activity-items/statusupdate.html' %}
            {% endifequal %}
            
            {% ifequal activity.object.type 'audioblog' %}
                {% include 'frontend/activity-items/audio.html' %}
            {% endifequal %}

            {% ifequal activity.object.type 'blogpost' %}
                {% include 'frontend/activity-items/blogpost.html' %}
            {% endifequal %}

            {% ifequal activity.object.type 'photo' %}
                {% include 'frontend/activity-items/photo.html' %}
            {% endifequal %}

            {% ifequal activity.object.type 'photoalbum' %}
                {% include 'frontend/activity-items/photoalbum.html' %}
            {% endifequal %}

        {% endfor %}

    </div>
{% endblock %}
