<div class="advert-wrapper">
    <div class="ad-section-header">
        <div class="sponsored-title">sponsored</div>
        <div class="create-ad-link">Create Ad</div>
        <div class="clear"></div>
    </div>
    <!--ad card begins-->
    <div class="ad-card">
        <div class="ad-image"><img src="/static/images/uploads/rado.png" width="100%"></div>
        <div class="ad-title">Timeless pieces from $120!</div>
        <div class="ad-link">www.buyright.co.za</div>
        <div class="ad-description">Loafers are arguable the best quality footwear that makes your feet
            stand out! Shop our wi...
        </div>
    </div>
    <!--ad card ends-->
    <!--ad card begins-->
    <div class="ad-card">
        <div class="ad-image"><img src="/static/images/uploads/watches5.png" width="100%"></div>
        <div class="ad-title">Timeless pieces from $120!</div>
        <div class="ad-link">www.buyright.co.za</div>
        <div class="ad-description">Loafers are arguable the best quality footwear that makes your feet
            stand out! Shop our wi...
        </div>
    </div>
    <!--ad card ends-->
</div>