<div class="status-update-wrapper">
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation">
            <a href="#main" aria-controls="main" role="tab" data-toggle="tab">
                <span class="status-update-icon-active">
                <img src="/static/images/icons/status-blue.png" width="12"></span>Status
            </a>
        </li>
        <li role="presentation">
            <a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">
                <span class="status-update-icon">
                <img src="/static/images/icons/pv-white.png" width="12"></span>Photo<span
                class="hide-div">/Video</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#blog" aria-controls="blog" role="tab" data-toggle="tab">
                <span class="status-update-icon">
                    <img src="/static/images/icons/blog-white.png" width="12"></span>BlogPost
            </a>
        </li>
        <li role="presentation">
            <a href="#audio" aria-controls="audio" role="tab" data-toggle="tab">
                <span class="status-update-icon">
                <img src="/static/images/icons/audio.png" width="12"></span>Audio</a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- STATUS UPDATE -->

        <!--status update text-->
        <div role="tabpanel" class="tab-pane active" id="main" ng-controller="StatusupdateCtrl">
            <div class="status-update-form-wrapper">
                            <textarea rows="3" class="update-status" ng-model="body" placeholder="What's on your mind?" id="body-id"></textarea>
                            <form id="fileupload" action="/test" method="POST"
                                  enctype="multipart/form-data">
                                  {% csrf_token %} 
                                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                <noscript>
                                    <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                                </noscript>
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                
                                <!-- The table listing the files available for upload/download -->
                                <div role="presentation" style="padding:0 5px 0px; text-align:center;">
                                    <div class="files">
                                    </div>
                                    <div class="row fileupload-buttonbar"></div>
                                    <div class="clear"></div>
                                </div>
            <div class="status-update-bottom" style="overflow: hidden">
                <div class="status-update-bottom-icons">
                    <ul class="list-inline">
                        <li role="presentation"><span class="fileinput-button"><input id="fileupload" type="file" name="files[]" multiple><img
                                src="/static/images/icons/photo.png" width="18"></span></li>
                        <li><span><img src="/static/images/icons/tag.png" width="18"></span></li>
                        <li><span><img src="/static/images/icons/location.png" width="18"></span></li>
                    </ul>
                </div>
                <div class="post-update-button" id = "post-update-button">Post</div>
                <div class="clear"></div>
            </div>
             </form>
                         </div>
        </div>
        <!--status update photo/video-->
        <div role="tabpanel" class="tab-pane" id="photo">
            <div class="status-update-form-wrapper">
                <textarea rows="1" class="update-status" placeholder="Add Caption"></textarea>
            </div>
            <!-- The file upload form used as target for the file upload widget -->

            <form id="fileupload" action="/test" method="POST"
                  enctype="multipart/form-data">
                  {% csrf_token %} 
                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <noscript>
                    <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                </noscript>
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div class="drag-drop-photo">Drag and drop files to upload<br>OR<br>
                    <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn add-photo-button fileinput-button">
                    <span class="add-photo-button-icon">Add Photos...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]" multiple>
                </span>
                </div>
                <!-- The table listing the files available for upload/download -->
                <div role="presentation" style="padding:0 5px 0px; text-align:center;">
                    <div class="files">
                    </div>
                    <div class="clear"></div>
                    <div class="row fileupload-buttonbar">
                        <div class="post-photo-bottom">
                            <button type="submit" class="post-update-button start" id="id-upload-photo">Post</button>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
         <!-- BLOG POST -->

        <!--blog post-->
        <div role="tabpanel" class="tab-pane" id="blog">
            <div class="blog-post-body">
                <input type="text" class="form-control" placeholder="Title" id="id-blogpost-title" style="margin-bottom:10px;" >
                <textarea rows="3" class="form-control" placeholder="Message" id="id-blogpost-body" ></textarea>
                <span class="btn add-photo-button fileinput-button" style="margin-top:10px;">
                <span class="add-photo-button-icon">Add Photos...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="id-file-blogpost" type="file" name="files[]" multiple>
                </span>
                </div>
                <div class="status-update-bottom">
                    <div class="status-update-bottom-icons">
                        <ul class="list-inline">
                            <li><span>Posting to Frank's Blog</span></li>
                        </ul>
                    </div>
                    <div id="create-blogpost" class="post-update-button" >Post</div>
                    <div class="clear"></div>
                </div>
        </div>
        <!--blog post ends-->
        <!--audio blog starts-->
        <div role="tabpanel" class="tab-pane" id="audio">
            <div class="audio-post-body" style="text-align:center;">
                <textarea rows="1" class="update-status" placeholder="Write something..."></textarea>
                <!-- Button trigger modal -->
                <button type="button" class="btn audio-blog-button" data-toggle="modal"
                        data-target="#myModal">
                    Record Your Message
                </button>
                <br>OR<br>
             <span class="btn add-photo-button fileinput-button" style="margin-top:10px;">
            <span class="add-photo-button-icon">Upload Audio Message</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]" multiple>
            </span>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Record Your Message</h4>
                            </div>
                            <div class="modal-body">
                                <p>

                                <div id="recorder-wrap">
                                    <div id="recorder">
                                        <button class="btn reg-audio-button"
                                                onclick="startRecording(this);">start recording
                                        </button>
                                        <button class="btn reg-audio-button-stop"
                                                onclick="stopRecording(this);" disabled>stop
                                        </button>
                                        <div id="log"></div>
                                        <ul id="recordingslist"></ul>
                                    </div>
                                </div>
                                <div id="audio_container">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                </button>
                                <button type="button" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="status-update-bottom">
                <div class="post-update-button">Post</div>
                <div class="clear"></div>
            </div>
        </div>
        <!--audio blog ends-->
    </div>
</div>

<script type="text/javascript">

$('#post-update-button').click(function() { 
    console.log('Status update clicked');
    body_text = $('textarea#body-id').val();

    var payload = {
        author: '{{ username }}',
        body: body_text,
        object_id: '{{ activity.object.id }}'
    } 

    $.ajax({
        url: 'http://192.168.10.123:8000/api/status_updates/post/{{username}}/',
        type: 'POST',
        data: payload,
        success: function (result) {
            console.log('Status update created :)');

           window.location.reload(true);
        }
    });  

});

$('#create-blogpost').click(function() { 
    console.log('Blogpost posting clicked');
    body_text = $('#id-blogpost-body').val();
    title_text = $('#id-blogpost-title').val();

    photo = $('id-file-blogpost').val();
    console.log(photo);

    console.log(title_text);

    var payload = {
        author: '{{ username }}',
        title: title_text,
        body: body_text,
        object_id: '{{ activity.object.id }}'
    } 
    console.log(payload);
    $.ajax({
        url: 'http://192.168.10.123:8000/api/blogposts/post/{{username}}/',
        type: 'POST',
        data: payload,
        success: function (result) {
            console.log('Blogpost created :)');
            window.location.reload(true);
        }
    });  

});

$('#id-upload-photo').click (function() {
    console.log($('#id-upload-photo').val());
    console.log('Abstraction the upload button '); console.log($('#fileUpload'));
    // Check if a status was typed

    $.ajax({
        url:'',
        type:'POST',
        data:'',
        success: function (result) {

        }
    });
});

</script>