<div class="top-header-bar navbar-fixed-top">
    <div class="container">
        <div class="logo-menu">
          <a href="/activity">
            <img width="108" height="30" src="/static/images/icons/logo.png" class="hide-div">
          </a>
            <a ng-click="openAside('left')" href="#">
                <img width="27" height="22" src="/static/images/icons/menu.png" class="show-div">
            </a>
        </div>
        <div style="float:right; display:inline-block; border-left:0px solid #ddd; padding:15px 0 6px 0; text-align:right; position:relative;">
            <span class="top-icons"><a href="#"><img width="100%" src="/static/images/icons/noti.png"></a></span>
            <span class="top-icons"><a href="#"><img width="100%" src="/static/images/icons/friendsx.png"></a></span>
            <span class="top-icons"><a href="#"><img width="100%" src="/static/images/icons/mess.png"></a></span>
            <span class="top-drop hide-div">
                <div class="dropdown navbar-right">
                    <span class="nav-profile-pix-img hide-div"><img width="100%" src="{{ userdata.imageurl }}"></span>
                    <a style="color:#fff; display:inline-block; vertical-align:top;" aria-expanded="false" role="button"
                       data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <!-- Put name here from context variable -->
                        {% if fullname %}
                            {{ fullname }}
                        {% endif %}
                        <span class="caret-top"></span>
                    </a>
                    <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                        <li><a href="{% url 'userprofile' userdata.username %}">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div>
             </span>

        </div>

        <!--search starts-->
        <div class="search-icon-xs">
            <div id="searchtext">
                <form>
                    <input type="search" id="id-search-text" placeholder="Search for people">
                </form>
            </div>
        </div>
        <div id="search-box">
            <div class="search-holder-panel">
                <div class="search-count"><a id="search-result-count-link"><span id="search-results-count"></span> results found...</a></div>
                <div id="search-results">

                </div>
                <div class="search-footer"><a id="view-all-results">view all results</a></div>
            </div>
        </div>
        <!--search form ends-->

    </div>
    <div style="clear:both;"></div>
</div>