<div class="col-lg-3 col-md-3 col-sm-3 left-col">
    <!--profile section-->
    <div class="profile-info-wrapper">
        <div class="profile-pix-card">
            <div class="profile-pix-img">
                {% if activity.actor.imageurl %}
                    <img src="{{ activity.object.actor.imageurl }}" width="100%">
                {% else %}
                    <img src="/static/images/ico_placeholder_60.png" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="profile-name">
            {% if fullname %}
                {{ fullname }}
            {% endif %}
        </div>
        <div class="edit-profile"><a href="{% url 'userprofile' %}"> Edit Profile</a></div>
        <div class="profile-stats-wrapper">
            <div class="profile-stats-info">
                <div class="ps-friends">0</div>
                <span>Friends</span>
            </div>
            <div class="profile-stats-info">
                <div class="ps-pages">0</div>
                <span>Pages</span>
            </div>
            <div class="profile-stats-info">
                <div class="ps-groups">0</div>
                <span>Groups</span>
            </div>
        </div>
    </div>
    <!--side menu-->
    <div class="side-menu-wrapper">
        <div class="list-group">
            <a href="/profile" class="list-group-item">
                <span class="list-group-icons"><img src="/static/images/icons/profile.png" width="18"></span>
                Profile</a>
            <a href="#" class="list-group-item">
                <span class="list-group-icons"><img src="/static/images/icons/photo.png" width="18"></span>
                Photos <span class="badge">0</span>
            </a>
            <a href="#" class="list-group-item">
                <span class="list-group-icons"><img src="/static/images/icons/blogs.png" width="18"></span>
                BlogPosts <span class="badge">0</span>
            </a>
            <a href="#" class="list-group-item">
                <span class="list-group-icons"><img src="/static/images/icons/video.png" width="18"></span>
                Videos <span class="badge">0</span>
            </a>
            <a href="/friends" class="list-group-item">
                <span class="list-group-icons"><img src="/static/images/icons/friends.png" width="18"></span>
                Friends <span class="badge">0</span>
            </a>
            <a href="#" class="list-group-item">
                <span class="list-group-icons"><img src="/static/images/icons/pgs.png" width="18"></span> Pages</a>
            <a href="#" class="list-group-item">
                <span class="list-group-icons"><img src="/static/images/icons/grp.png" width="18"></span> Groups
            </a>
            <a href="#" class="list-group-item">
                <span class="list-group-icons"><img src="/static/images/icons/msg.png" width="18"></span>
                Messages <span class="badge">0</span>
            </a>
            <a href="#" class="list-group-item"><span class="list-group-icons"><img
                    src="/static/images/icons/settings.png" width="18"></span> Settings</a>
        </div>
    </div>
</div>
