{% include 'frontend/site-base.html' %}

{% block body %}
    <body>
    {% include 'frontend/_header.html' %}
    <!--header ends-->
    <div class="container" style="margin-top:62px;"><!--add the margin set off the fixed header-->
        <div class="row xtra-pad">
            <!--left column-->
            {% include 'frontend/_profile-menu.html' %}
            <!--left column ends-->
            <!--middle column starts-->
            {% block middle-content %}
                Middle content placeholder
            {% endblock %}
            <!--middle column ends-->
            <!--right column starts-->
            <div class="col-lg-3 col-md-3 col-sm-3 right-col">
                {% include 'frontend/_ad-block.html' %}
            </div>
            <!--right column ends-->
            <div class="clear"></div>
        </div>
        <div class="footer"></div>
    </div>

    {% include 'frontend/_scripts.html' %}
    </body>
{% endblock %}