{% load dictionary_extras %}
<!--activity card3 starts-->
<div class="activity-stream-wrapper">
    <div class="activity-card">
        <!--activity header starts-->
        <div class="activity-header">
            <div class="content-owner-pix">
                {% if userdata.imageurl %}
                    <a href="{% url 'userprofile' username %}"><img src="{{ userdata.imageurl }}" width="100%"></a>
                {% else %}
                    <a href="{% url 'userprofile' username %}"> <img src="/static/images/ico_placeholder_60.png"
                                                            width="100%"></a>
                {% endif %}

            </div>
            <div class="content-owner-wrapper">
                <div class="content-owner-name">{{ userdata.firstname }} {{ userdata.lastname }}</div>
                <div class="activity-verb">created a new blog post</div>
                <div class="status-update-timestamp">
                    {{ activity.created_at|timedelta }}
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <!--activity header stops-->
        <div style="padding:0 0 7px 0; font-weight:bold; font-size:22px; color:#000;">
            {{ activity.title }}
        </div>

        {% if activity.img %}
            <p>
                <img id="{{ activity.id }}" src="" class="img-responsive" style="vertical-align:middle"/>
            </p>
            <script type="text/javascript">
                document.getElementById("{{activity.id}}").src = "data:image/png;base64," +
                "{{activity.img}}";

            </script>
        {% endif %}

        {% if activity.image_url %}
            <div class="photo-in-post-wrapper">
                <div class="photo-in-status-update">

                    {% with "http://192.168.10.123:8000/"|add:activity.image_url as link %}

                        <img class="img-responsive" style="vertical-align:middle" src={{ link }}>
                    {% endwith %}


                </div>
            </div>
        {% endif %}
        <div class="text-content">
            {{ activity.body }}
        </div>
        <!--content stats-->
        {% include 'frontend/activity-items/content-stats.html' %}
        <!--interactin bar-->
        {% include 'frontend/activity-items/interactionbar-profile.html' %}
        <!--comment section-->
        <!--comment card1-->
        {% if activity.commentcount > 0 %}
            <div class="comment-wrapper">
                {#        {% include 'frontend/activity-items/comment.html' %}#}
            </div>
        {% endif %}

        <!--post comment-->
        <div class="post-comment-wrapper">
            {% include 'frontend/activity-items/comment-post.html' %}
        </div>

    </div>
</div>
<!--activity card3 ends-->