{#<div class="comment-wrapper-xs">#}
{#    <div class="comment-card">#}
{#        <div class="comment-owner-pix-xs"><img#}
{#                src="/static/images/people/guy-1.jpg" width="100%"></div>#}
{#        <div class="comment-details-xs">#}
{#            <div class="comment-owner-name-xs">Paul Imisi</div>#}
{#            <div class="comment-text">This is the default comment view that we need to see</div>#}
{#        </div>#}
{#        <div class="clear"></div>#}
{#    </div>#}
{#    <div class="comment-socials"><span><img src="/static/images/icons/like.png"#}
{#                                            width="18"><br>15</span></div>#}
{#    <div class="clear"></div>#}
{#</div>#}

<!-- Get the latest comment -->
{% if activity.object.latestcomment  %}

	<div class="comment-card">
	    <div class="comment-owner-pix">
	    	{% if activity.object.latestcomment.imageurl %}
	    		<img src="{{ activity.object.latestcomment.imageurl }}" width="100%"></div>
	    	{% else %}
	    		<img src= "/static/images/ico_placeholder_60.png" width="100%"></div>
	    	{% endif %}
	    <div class="comment-details">
	        <div class="comment-owner-name">
	        	{% if activity.object.latestcomment.authorname %}
	        		{{ activity.object.latestcomment.authorname }}
	        	{% else %}
	        		{{ activity.object.latestcomment.username }}
	        	{% endif %}

	        </div>
	        <div class="comment-text">
	        	{{ activity.object.latestcomment.body }}
	        </div>
	    </div>
	    <div class="clear"></div>
	</div>
	<div class="comment-socials">
		<span>
			<img src="/static/images/icons/like.png" width="18"><br>
			{% if activity.object.latestcomment.likecount %}
	        		{{ activity.object.latestcomment.likecount }}
	        	{% else %}
	        		0
	        	{% endif %}

		</span>
	</div>
	<div class="clear"></div>
{% endif %}
