{#<div class="comment-wrapper-xs">#}
{#    <div class="comment-card">#}
{#        <div class="comment-owner-pix-xs"><img#}
{#                src="/static/images/people/guy-1.jpg" width="100%"></div>#}
{#        <div class="comment-details-xs">#}
{#            <div class="comment-owner-name-xs">Paul Imisi</div>#}
{#            <div class="comment-text">This is the default comment view that we need to see</div>#}
{#        </div>#}
{#        <div class="clear"></div>#}
{#    </div>#}
{#    <div class="comment-socials"><span><img src="/static/images/icons/like.png"#}
{#                                            width="18"><br>15</span></div>#}
{#    <div class="clear"></div>#}
{#</div>#}

<div class="comment-card">
    <div class="comment-owner-pix"><img src="/static/images/pix.jpg" width="100%"></div>
    <div class="comment-details">
        <div class="comment-owner-name">Paul Imisi</div>
        <div class="comment-text">This is the default comment view that we need to see
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="comment-socials"><span><img src="/static/images/icons/like.png"
                                        width="18"><br>15</span></div>
<div class="clear"></div>