<div class="comment-owner-pix"><img src="/static/images/pix.jpg" width="100%"></div>
<div class="post-comment-form-wrap">
    <div class="post-comment-card">
        <div class="post-comment-form">
            <textarea rows="1" placeholder="Add a comment"></textarea>
        </div>
        <div class="add-comment-socials">
            <img src="/static/images/icons/location.png" width="18"><img
                src="/static/images/icons/photo-grey.png" width="18">
        </div>
        <div style="clear:left;"></div>
    </div>
    <div class="press-enter">Press enter to post comment</div>
</div>
<div class="clear"></div>