{% if activity.actor.imageurl %}
    <div class="comment-owner-pix"><img src= {{ activity.actor.imageurl }}  width="100%"></div>
{% else %}
    <div class="comment-owner-pix"><img src= "/static/images/ico_placeholder_60.png" width="100%"></div>
{% endif %}

{% load dictionary_extras %}


<div class="post-comment-form-wrap">

    <div class="post-comment-card">
        <div class="post-comment-form">
            <textarea rows="1" placeholder="Add a comment" id = "comment-body" name = "comment-body" ></textarea>
        </div>
        <div class="add-comment-socials">
            <img src="/static/images/icons/location.png" width="18"><img
                src="/static/images/icons/photo-grey.png" width="18">
        </div>
        <div style="clear:left;"></div>
    </div>
    <div class="press-enter">Press enter to post comment</div>
    <button class="post-update-button" value="Post" id="id-comment-{{activity.object.id}}">Post</button>
</div>
<div class="clear"></div>

<script type="text/javascript" >

$('#id-comment-{{activity.object.id}}').click(function() { 
    console.log('comment to be posted ');
    body_text = $('textarea#comment-body').val();

    var payload = {
        author: '{{ username }}',
        object_id: '{{ activity.object.id }}',
        body: body_text
    } 

    $.ajax({
        url: 'http://192.168.10.123:8000/api/content/{{ activity.object.id }}/comments/',
        type: 'POST',
        data: payload,
        success: function (result) {
            console.log("Your comment has been posted");
            $('textarea#comment-body').val('');

            window.location.reload(true);
        }
    });  

});

</script>