<div class="content-stats-wrapper">
    {# Like count #}
    <div class="content-stats">
    	{% if activity.object.likes < 2 %}
        	{{ activity.object.likes }} Like
        {% else %}
        	{{ activity.object.likes }} Likes
        {% endif %}
        
        <span style="margin:0 5px" class="glyphicon glyphicon-asterisk"></span>
        {% if activity.object.commentcount < 2 %}
        	{{ activity.object.commentcount }} Comment
        {% else %}
        	{{ activity.object.commentcount }} Comments
        {% endif %}

    </div>
    <div class="more-content"><img src="/static/images/icons/more.png" width="40"></div>
    <div class="clear"></div>
</div>