<div class="interaction-bar">
	{% comment %}
		Id of the object to interact with {{ activity.object.id }}
		{{ activity.actor.id }}
	{% endcomment %}
    <ul class="list-inline">
    	{% if activity.object.liked %}
	        <li><span> <img src="/static/images/icons/like.png" width="18"></span> Like</li>
		{% else %}
			{% with "like/"|add:activity.object.id|add:"/"|add:activity.actor.id as link_like %}
	        	<button id = 'like-click-{{activity.object.id}}' style = 'border:none; background:none; active:none' onclick=''>
	        		<li><span> <img src="/static/images/icons/like.png" width="18"></span>
	        	</button> Like</li>
	        	
			{% endwith %}
		{% endif %}

		{% with "comment/"|add:activity.object.id|add:"/"|add:activity.actor.id as link_comment %}
			
	        	<li><span><img src="/static/images/icons/comment.png" width="18"></span> Comment</li>
	        
		{% endwith %}

	        <li><span><img src="/static/images/icons/share.png" width="18"></span> Share</li>

     
        
    </ul>
</div>

<script type="text/javascript">
// handling the liking here

$('#like-click-{{activity.object.id}}').click(function() { 
	console.log('Like button clicked');
	var payload = {
        author: '{{ username }}',
        object_id: '{{ activity.object.id }}'
    } 

    $.ajax({
        url: 'http://192.168.10.123:8000/api/content/{{activity.object.id}}/likes/',
        type: 'POST',
        data: payload,
        success: function (result) {
          alert("Your like has been saved");
           window.location.reload(true);
        }
    });  

});
/*
$(function(){
   $("#like-click-{{activity.object.id}}").click(function(link){

        //notice the use of the `var` keyword to keep variables local
        var original_url = this.href,
            log_url      = "http://domain.com/ajax-controller/" + this.id;

        //do the AJAX request to your server-side script
        $.ajax({
            url     : log_url,
            type    : 'get',
            success : function (serverResponse) {
                //successfull callback, forward user to original_url
                window.location = original_url;
            },
            error   : function () {
                //an error occured, you probably just want to forward the user to their destination
                window.location = original_url;
            }
        });

        //returning false inside a jQuery Event Handler is the same as calling `event.preventDefault()` and `event.stopPropagation()`
        return false;
   });
});

*/

</script>