{% load dictionary_extras %}
<div class="activity-stream-wrapper">
    <div class="activity-card">
        <!--activity header starts-->
        <div class="activity-header">
            <div class="content-owner-pix">
                {% if activity.actor.imageurl %}
                    <a href="{% url 'userprofile' %}"><img src="{{ activity.actor.imageurl }}" width="100%"></a>
                {% else %}
                    <a href="{% url 'userprofile' %}"><img src="/static/images/ico_placeholder_60.png" width="100%"></a>
                {% endif %}

            </div>
            <div class="content-owner-wrapper">
                <div class="content-owner-name">{{ activity.actor.displayname }}</div>
                <div class="activity-verb">updated his status</div>

                <div class="status-update-timestamp">
                    {{ activity.object.publishdate}} <br/>
                    {# {{ activity.object.publishdate|timediff }}#}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--activity header stops-->
        <!--Photo in post-->
        <div class="photo-in-post-wrapper">
            <!--******************Modal Quick View Ends-**********-->
            <p class="allow-modal">
                <a id="open-mikes-modal" href="picture_full_view.php" style="cursor:pointer;">
                    {% if activity.object.image_url %}

                        {% with "http://192.168.10.123:8000/"|add:activity.object.image_url as link %}
                            <img class="img-responsive" src={{link }}>
                        {% endwith %}
                         
                    {% endif %}
                    
                </a>
            </p>

        </div>
        <div class="text-content">
            {# Putting the content in the card #}
            {{ activity.object.text }}
        </div>
        <!--content stats-->
        {% include 'frontend/activity-items/content-stats.html' %}
        <!--interactin bar-->
        {% include 'frontend/activity-items/interaction-bar.html' %}
        <!--comment section-->
        <!--comment card00-->
        {% if activity.object.commentcount > 0 %}
        <div class="comment-wrapper">
            {% include 'frontend/activity-items/comment.html' %}
        </div>
        {% endif %}
        <!--post comment-->
        <div class="post-comment-wrapper">
            {% include 'frontend/activity-items/comment-post.html' %}
        </div>
        <!--post comment ends-->
    </div>
</div>
